/* start variable */
:root {
  --section-padding: 60px;
  --main-color: rgb(41, 91, 167);
  --light-blue: rgb(20, 142, 241);
  --containers-color: #f8f9fa;
}
/* end variable */

/* start componentes */
.heading {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.heading h2 {
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 5px 0 0;
}

.heading div {
  height: 4px;
  flex: 1;
  background-color: var(--light-blue);
}

/* remote jobs components */
.remote-tips .main-content.remote-jobs .box {
  background-color: var(--containers-color);
  padding: 15px;
  border: 1px solid lightgrey;
  margin-bottom: 15px;
}

.remote-tips .main-content.remote-jobs .box .content {
  background-color: white;
  border: 1px solid lightgrey;
}

.remote-tips .main-content.remote-jobs .box a {
  text-decoration: none;
}

.remote-tips .main-content.remote-jobs .box .content .line:not(:last-child) {
  padding: 15px;
  display: flex;
  border-bottom: 1px solid lightgrey;
  justify-content: space-between;
  align-items: center;
}

.remote-tips .main-content.remote-jobs .box .content .line:not(:last-child):hover {
  background-color: rgba(128, 128, 128, 0.068);
}

.remote-tips .main-content.remote-jobs .box .content .line .job-info {
  display: flex;
  
}

.remote-tips .main-content.remote-jobs .box .content .line .job-info img {
  width: 50px;
  margin-right: 15px;
}

.remote-tips .main-content.remote-jobs .box .content .line .job-info .info h3 {
  color: var(--light-blue);
  margin-bottom: 10px;
}

.remote-tips .main-content.remote-jobs .box .content .line:hover .job-info .info h3 {
  color: rgb(20, 90, 182);
}

.remote-tips .main-content.remote-jobs .box .content .line .job-info .info p {
  color: black;
}

.remote-tips .main-content.remote-jobs .box .content .line .job-info .info p span:nth-child(2n) {
  padding: 0px 8px;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  margin:0 8px;
}

.remote-tips .main-content.remote-jobs .box .content .line .time {
  color: black;
}

.remote-tips .main-content.remote-jobs .box .content .line:last-child a {
  display: block;
  padding: 15px;
  text-align: right;
  color: var(--light-blue);
  font-size: 17px;
}

.remote-tips .main-content.remote-jobs .box .content .line:last-child a:hover {
  color: rgb(28, 107, 211);
}

/* end remote jobs components */

/* end components */

/* general rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Tajawal", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

/* Media quaris */

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end general rules */

/* start header */

header {
  background-color: rgb(61, 57, 57);
  padding: 10px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .logo img {
  height: 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

header .container nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .container nav ul {
  display: flex;
}

header nav > i,
header nav a {
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  font-size: 19px;
}

header nav a.active {
  color: var(--light-blue);
}

header nav > a {
  background-color: rgb(41, 91, 167);
  margin-left: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* end header */

/* start introduction - remote jobs */
.introduction {
  padding-top: 15px;
}

.introduction p:first-of-type {
  padding-bottom: 15px;
}

.introduction p:first-of-type span {
  color: var(--light-blue);
}

.introduction p:nth-of-type(2) {
  font-size: 14px;
  padding-bottom: 15px;
}

.introduction .search {
  background-color: var(--containers-color);
  border: 1px solid lightgrey;
}

.introduction .search form {
  border-bottom: 1px solid lightgrey;
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
}


.introduction .search form input[type="text"] {
  width: 84%;
  padding: 5px 10px;
  border: 1px solid lightgrey;
  outline: none;
}

.introduction .search form input[type="submit"] {
  width: 15%;
  padding: 5px 10px;
  color: white;
  text-transform: uppercase;
  background-color: var(--light-blue);
}

.introduction .search form input[type="submit"]:hover {
  background-color: rgb(13, 45, 87);
}

.introduction .search .keywords ul {
  padding: 10px 15px 10px;
  display: flex;
  flex-wrap: wrap;
}

.introduction .search .keywords ul li {
  display: flex;
  justify-content: center;
}

.introduction .search .keywords ul li a {
  display: block;
  padding: 5px;
  background-color: white;
  border: 1px solid lightgrey;
  margin-right: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.introduction .search .keywords ul li a:hover {
  color: var(--light-blue);
}

.introduction .search .keywords ul li:last-child a {
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(79, 184, 245, 0.308);
  border-color: var(--light-blue);
  vertical-align: middle;
}

.introduction .search .keywords ul li:last-child a:hover {
  color: rgb(179, 176, 176);
}
/* end introduction -remote jobs */

/* start landing */
.landing {
  height: 30vh;
  background-image: url("../images/wide-background.jpg");
  background-size: cover;
}

.landing.remote-jobs {
  background-image: url("../images/wide-pic-2.jpg");
  height: 15vh;
  background-size: cover;
}

.landing.remote-campanies {
  background-color: rgb(29, 140, 231);
  background-image: none;
  height: 15vh;
  text-align: center;
}

.landing.remote-campanies .container {
  justify-content: center;
}

.landing.remote-campanies .container p {
  position: relative;
  font-size: 30px;
  color: white;
  bottom: -40px;
  text-shadow: -3px 2px 0px rgba(0, 0, 0, 0.9);
}

.landing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
}

.landing.remote-jobs .container {
justify-content: center;
}

.landing .container h1 {
  margin: 0;
  color: white;
  position: absolute;
  top: 50%;
  font-size: 40px;
  font-weight: normal;
  text-shadow: -3px 1px 0px rgb(0, 0, 0);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.landing .container ul {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.landing .container ul li {
  color: rgb(0, 0, 0);
  font-size: 20px;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  white-space: nowrap;
}

.landing .container ul li:first-child::after {
  font-family: "Font Awesome 5 Free";
  content: "\f055";
  padding: 0 10px;
  font-weight: 600;
  font-size: 20px;
  color: green;
}

.landing .container ul li:not(:first-child)::after {
  content: ">";
  padding: 0 5px;
  font-weight: bold;
}
/* end landing */

/* start after landing */
.after-landing {
  background-color: rgb(56, 56, 56);
  text-align: center;
}

.after-landing img {
  height: 25px;
}
/* end after landing */

/* start tips */
.remote-tips {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.remote-tips .container {
  display: flex;
  justify-content: space-between;
}

/* start main content */

.remote-tips .main-content {
  width: 70%;
  margin-right: 20px;
  height: fit-content;
}

.remote-tips .main-content.remote-jobs {
  display: flex;
  flex-direction: column;
}

/* start tips */
.remote-tips .main-content .tips {
  border: 1px solid lightgrey;
  padding: 15px;
  background-color: var(--containers-color);
}

.remote-tips .main-content .tips .qst-comp {
  margin-top: 15px;
  padding: 20px;
  border: 1px solid lightgrey;
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.remote-tips .main-content .tips .qst-comp .qst-comp-container {
  display: flex;
  justify-content: space-between;
}

.remote-tips .main-content .tips .qst-comp .qst-comp-container .qst {
  flex-basis: 48%;
}

.remote-tips .main-content .tips .qst-comp .qst-comp-container > div > h2 {
  font-weight: normal;
  text-align: center;
  padding: 0 0 10px 0;
  margin: 0 0 20px 0;
  border-bottom: 1px solid lightgrey;
}

.remote-tips .main-content .tips .qst-comp .qst a {
  display: block;
  color: var(--light-blue);
  padding: 14px;
  border: 1px solid lightgrey;
  font-size: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-decoration: none;
}

.remote-tips .main-content .tips .qst-comp .qst a:hover {
  border-color: var(--light-blue);
}

.remote-tips .main-content .tips .qst-comp .qst a::after {
  content: ">";
  font-size: 20px;
  margin-left: 10px;
}

.remote-tips .main-content .tips .qst-comp .qst a:not(:first-child) {
  margin-top: 10px;
}

.remote-tips .main-content .tips .qst-comp .qst a i {
  color: rgb(85, 84, 84);
  padding-right: 10px;
}

.remote-tips .main-content .tips .qst-comp .comp {
  flex-basis: 48%;
}

.remote-tips .main-content .tips .qst-comp .comp div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.remote-tips .main-content .tips .qst-comp .comp div img {
  flex-basis: 23%;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid lightgrey;
}

.remote-tips .main-content .tips .qst-comp .comp div img:hover {
  border-color: var(--light-blue);
}

.remote-tips .main-content .tips .qst-comp > a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--light-blue);
  font-size: 20px;
  padding: 20px;
  margin-top: 15px;
  border: 1px solid var(--light-blue);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.remote-tips .main-content .tips .qst-comp > a:hover {
  background-color: var(--light-blue);
  color: white;
}

/* end tips */

/* start remote jobs */
.remote-tips .main-content .remote-jobs {
  padding: 15px;
  background-color: var(--containers-color);
  border: 1px solid lightgrey;
  margin-top: 20px;
}

.remote-tips .main-content .remote-jobs .remote-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.remote-tips .main-content .remote-jobs .remote-container .comp-box {
  padding: 10px;
  background-color: white;
  border: 1px solid lightgrey;
  font-size: 15px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.remote-tips .main-content .remote-jobs .remote-container .comp-box:hover {
  border: 1px solid var(--light-blue);
}

.remote-tips .main-content .remote-jobs .remote-container .comp-box h2 {
  text-align: center;
  font-weight: normal;
  color: var(--light-blue);
  margin: 0 0 10px 0;
}

.remote-tips .main-content .remote-jobs .remote-container .comp-box .content {
  display: flex;
  padding: 5px;
  background-color: var(--containers-color);
  border: 1px solid lightgrey;
}

.remote-tips
  .main-content
  .remote-jobs
  .remote-container
  .comp-box
  .content
  img {
  flex-basis: 90px;
  align-self: center;
  width: 100%;
  margin-right: 10px;
}

.remote-tips
  .main-content
  .remote-jobs
  .remote-container
  .comp-box
  .content
  .info {
  padding: 5px 0;
}

.remote-tips
  .main-content
  .remote-jobs
  .remote-container
  .comp-box
  .content
  .info
  h3 {
  margin-bottom: 10px;
}

.remote-tips
  .main-content
  .remote-jobs
  .remote-container
  .comp-box
  .content
  span {
  padding: 0 10px;
  /* border-left: 1px solid lightgrey; */
  margin-left: 10px;
  position: relative;
}

.remote-tips
  .main-content
  .remote-jobs
  .remote-container
  .comp-box
  .content
  span::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 1px;
  background-color: grey;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.remote-tips .main-content .remote-jobs > a {
  display: block;
  text-align: center;
  margin-top: 15px;
  padding: 15px 0;
  border: 1px solid var(--light-blue);
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
  color: var(--light-blue);
  transition: 0.3s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.remote-tips .main-content .remote-jobs > a:hover {
  background-color: var(--light-blue);
  color: white;
}
/* end remote jobs */

/* start jobs articles */
.remote-tips .main-content .articles {
  padding: 15px;
  background-color: var(--containers-color);
  border: 1px solid lightgrey;
  margin-top: 20px;
}

.remote-tips .main-content .articles .cards {
  display: flex;
  justify-content: space-between;
}

.remote-tips .main-content .articles .cards .card {
  flex-basis: 32%;
  border: 1px solid lightgrey;
}

.remote-tips .main-content .articles .cards .card img {
  width: 100%;
}

.remote-tips .main-content .articles .cards .card .info {
  padding: 15px;
}

.remote-tips .main-content .articles .cards .card .info a {
  display: block;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 15px;
  color: var(--light-blue);
  text-decoration: none;
}

.remote-tips .main-content .articles .cards .card .info a:hover {
  color: rgb(26, 94, 172);
}

.remote-tips .main-content .articles .cards .card .info p {
  color: #555;
}
/* end jobs articles */

/* start footer */
.footer {
  background-color: #363839;
  border-top: 20px solid lightgrey;
  border-bottom: 1px solid #898a8a;
}

.footer .footer-content {
  display: flex;
  justify-content: space-between;
  color: #898a8a;
  padding: 30px 10px;
}

.footer .footer-content > div {
  flex-basis: 18%;
}

.footer .footer-content div h3 {
  text-transform: uppercase;
  margin: 20px 0;
  font-size: 15px;
  font-weight: normal;
}
.footer .footer-content div:not(:first-child) ul li:not(:first-child) {
  padding-left: 10px;
}

.footer .footer-content div a {
  text-decoration: none;
  color: #898a8a;
  font-size: 14px;
  padding: 5px 0;
}

.footer .footer-content div a:hover {
  color: var(--light-blue);
}
/* end footer */

/* start policy */
.policy {
  background-color: #282a2b;
  color: white;
  padding: 15px;
}

.policy a {
  color: white;
  text-decoration: none;
}
/* end policy */

/* start aside */

.remote-tips aside {
  flex: 1;
  padding: 15px;
  font-size: 20px;
  background-color: #f8f9fa;
  border: 1px solid #e4e5e6;
  height: fit-content;
  font-size: 15px;
}

.remote-tips aside > a {
  display: block;
  text-decoration: none;
  color: white;
  background-color: rgb(26, 197, 26);
  text-align: center;
  padding: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.remote-tips aside > a:hover {
  background-color: rgb(19, 136, 19);
}

.remote-tips aside > form {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}

.remote-tips aside > form input {
  padding: 5px;
  width: 85%;
  border: 1px solid lightgrey;
  border-right: none;
  outline: none;
}

.remote-tips aside > form button {
  width: 15%;
  background-color: rgb(51, 51, 51);
  border: 1px solid lightgrey;
  border-left: none;
  color: white;
  vertical-align: middle;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.remote-tips aside > form button:hover {
  background-color: white;
  border: 1px solid rgb(51, 141, 245);
  color: var(--light-blue);
}

.remote-tips aside div.q\&a-section {
  padding-top: 20px;
  position: relative;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}

.remote-tips aside div.q\&a-section a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(87, 151, 247);
  padding: 5px 0;
}

.remote-tips aside div.q\&a-section a::after {
  font-family: "Font Awesome 5 Free";
  content: "\f055";
  font-weight: bold;
  color: rgb(72, 192, 72);
  position: absolute;
  right: 0;
}

.remote-tips aside .folow-us {
  padding: 20px 0;
  border-bottom: 1px solid lightgrey;
}

.remote-tips aside .folow-us a {
  all: unset;
  cursor: pointer;
}

.remote-tips aside .folow-us i {
  margin-left: 10px;
  font-size: 20px;
}

.remote-tips aside .news-letter {
  padding: 20px 0;
}

.remote-tips aside .news-letter p {
  font-weight: bold;
  line-height: 1.6;
}

.remote-tips aside .news-letter form {
  padding: 20px 5px;
}

.remote-tips aside .news-letter form label:first-child {
  display: block;
}

.remote-tips aside .news-letter form input:nth-child(2) {
  display: block;
  padding: 10px 5px;
  width: 100%;
  border: 1px solid lightgrey;
  margin: 5px 0;
}

.remote-tips aside .news-letter form label[for="email"]::after {
  content: "*";
  color: red;
  margin-left: 5px;
  font-size: 40px;
  position: relative;
  bottom: -10px;
}

.remote-tips aside .news-letter form p {
  padding: 20px 0 15px;
}

.remote-tips aside .news-letter form input[type="submit"] {
  margin-top: 20px;
  padding: 5px 20px;
  background-color: rgb(20, 142, 241);
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.remote-tips aside .news-letter form p + div + div {
  padding-top: 5px;
}

.remote-tips aside .articles {
  background-color: white;
  border: 1px solid lightgrey;
  border-top: 3px solid rgb(20, 142, 241);
}

.remote-tips aside .articles h2 {
  text-align: center;
  font-weight: normal;
  margin: 10px 0 20px;
}

.remote-tips aside .articles div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.remote-tips aside .articles div:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}

.remote-tips aside .articles div img {
  flex-basis: 70px;
  width: 100%;
  margin-right: 10px;
}

.remote-tips aside .articles div a {
  flex: 1;
  font-weight: normal;
  text-decoration: none;
  color: rgb(20, 142, 241);
}

.remote-tips aside .articles div a:hover {
  color: rgb(17, 110, 185);
}

/* end tips */
